.vscode
Practice/EpubReader/obj
Practice/EpubReader/bin
Practice/Blazor/TodoList/.vs
Practice/Blazor/TodoList/bin
Practice/Blazor/TodoList/obj
/Epub Reader Sharp/EReaderSharp/EReaderSharp/obj
/Epub Reader Sharp/EReaderSharp/.vs/EReaderSharp
