.vscode
.vs
EReaderSharp/.vs
EReaderSharp/EReaderSharp/obj
EReaderSharp/EReaderSharp/bin
EReaderSharp/EReaderSharp.Tests/bin
EReaderSharp/EReaderSharp.Tests/obj
/EReaderSharp/bin/Debug/net6.0
/EReaderSharp/obj
/EReaderSharp.Tests/bin/Debug/net6.0
/EReaderSharp.Tests/obj
