@using EpubSharp;
@using TodoList.Data
@* <style>
    @((MarkupString)book.Resources.Css.ElementAt(1).TextContent)
</style> *@
@* <p>sssss</p>*@
<article>@ms</article>
@* <style>
    .chapter h2 {
        background-color: red;
    }
</style> *@
@code {
    EBook booker = new EBook();
    string html;
    MarkupString ms;
    protected async override Task OnInitializedAsync()
    {
        html = await booker.GetHtml();
        await booker.GetTOF();
        ms = (MarkupString)html;
        @* await base.OnInitializedAsync(); *@
    }
    [Parameter]
    public int Chapter { get; set; } = 1;
    EpubBook book = EpubSharp.EpubReader.Read(@"C:\Users\mokay\Local-Repositories\Epub-Reader-PWA\Practice\Blazor\TodoList\Data\frankenstien.epub");
}