@page "/todo";
@using TodoList.Data

<PageTitle>Todo List</PageTitle>
<h2>Todo (@todos.Count(todo => !todo.IsDone))</h2>

<ul>
    @foreach (TodoItem todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>



@code {
    private List<TodoItem> todos = new();
        private string? newTodo;

    private void AddTodo() {
        if (!string.IsNullOrWhiteSpace(newTodo)) {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}
