@import '../../../../styles/common.scss';

header {
    display: flex;
    padding: 0.5em;
    font-size: x-large;
    background-color: white;
    z-index: 1000;
    position: sticky;
    top: 0;

    @include DropShadow();
    a {
        color: black;
    }
}

.main-links {
    padding: 0.25em;
    align-items: center;
    display: flex;
    justify-content: space-between;
    a {
        margin-right: 2em;
    }
    input{
        width: 25em;
        font-size: medium;
        padding: 0.5em;
        border-radius: 0.75em;
        background-color: rgb(238, 238, 238);
        border: 0;
    }
}