@import '../../../styles/common.scss';



.ebook-component {
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: white;
  width: 12em;
  border-radius: 0.5em;

  position: relative;
  padding-bottom: 0.25em;
  margin: auto;
  @include DropShadow();
}

.ebook-component p {
  font-size: small;
  margin-left: 1.3em;
}

.ebook-component img {
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  height: 15em;
}

