@import './styles/common.scss';
@import './styles/global.scss';

#root {
  width: 100vw;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: $background;
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}